<!DOCTYPE html>
<html>
  <head>
    <title>Relate!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
  </head>

  <body>
    <div id="flex-content-container">
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <%= link_to 'Relate!', root_path, class: 'navbar-brand' %>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
              <li>
                <!-- Button trigger Get Started modal -->
                <button type="button" class="btn btn-primary btn-med" data-toggle="modal" data-target="#getStartedModal">
                  Start Here
                </button>
              </li>
              <li class="nav-item">
                <%= link_to 'See All Courses', courses_path, class:'nav-link' %>
              </li>
            </ul>
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'My Dashboard', dashboard_path, class:'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Log Out', destroy_user_session_path, method: :get, class:'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                    <%= link_to 'Log in',new_user_session_path, class:'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Sign up', new_user_registration_path, class:'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
        <% if notice.present? %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>

        <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <%= yield %>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <b>Teachers</b>
                    <br />
                    <%= link_to 'Teach a Course', new_instructor_course_path %>
                    <br />
                    <%= link_to 'My Dashboard', dashboard_path %>
                </div>
                <div class="col-12 col-sm-3">
                    <b>About</b>
                    <br />
                    <%= link_to 'Site Creator', 'http://kalenhammann.getforge.io' %>
                    <br />
                    <%= link_to 'Site Creator Background', 'http://www.drkonline.com/who-is-dr-k' %>
                    <br />
                    <%= link_to 'Blog', 'http://kalenhammann.getforge.io/blog' %>
                    <br />
                    <%= link_to 'Careers', careers_path %>
                    <br />
                    <%= link_to 'Privacy Policy', privacy_path %>
                </div>
                <div class="col-12 col-sm-3">
                <b>Contact</b>
                <br />
                info@DrKOnline.com
                <br />
                100 Hampton Rd. #53
                <br />
                Clearwater, FL 33759
                <br />
                (727) 733-2178
                </div>
                <div class="col-12 col-sm-3 social">
                <b>Social</b>
                <br />
                <%= link_to 'https://www.facebook.com/kalen.hammann/about' do %>
                   <span class="fa fa-facebook-square fa-2x social-button"></span>
                <% end %>
                <%= link_to 'https://www.linkedin.com/in/kalenhammann/' do %>
                    <span class="fa fa-linkedin-square fa-2x social-button"></span>
                <% end %>
                <%= link_to 'https://github.com/DrKalen/flitter ' do %>
                <span class="fa fa-github-square fa-2x social-button"></span>
                <% end %>
                </div>
            </div>
        </div>
    </div>

    <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>


<!-- Get Started Modal -->
<div class="modal fade" id="getStartedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-center" id="getStartedModalLabel">Welcome to <i>Relate!</i></h4>
      </div>
      <div class="modal-body">
        <p>
        <i>Relate!</i> is a portal where you can both learn how to have more fun, alive relationships and teach others what you know. You begin by signing up: just click this button. Then come back here. If you've already signed up, make sure you're logged in and then continue.
        </p> 
        <p class="text-center">
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
        <br />
        <p> Signed up? Logged in? Good! Now, to teach a course, just click the button below or the "Teach a Course" link in the footer at the bottom of the page and you're good to go.
        </p> 
        <p> To learn what others are teaching, click on the button here or the "See All Courses" link at the top of any page. Once you've created a course or enrolled in one, the link to "My Dashboard" will take you to a summary of what you're learning and teaching. Simple! Just click a button and let's get started.
        </p>
      </div>
      <div class="modal-footer">
        
        <%= link_to 'I want to TEACH a Course', new_instructor_course_path, class: 'btn btn-primary' %>
        <%= link_to 'I want to TAKE a Course', courses_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

